<table>
  <tr>
    <th>Address</th>
    <th>Serial Number</th>
    <th>Set Point</th>
  </tr>

<% @locations.each do |location| %>
      <% location.thermostats.each do |tstat| %>
          <tr>
            <td><%= tstat.location.address %></td>
            <td><%= tstat.serial_number %></td>
            <td><%= tstat.set_point %></td>
          </tr>
      <% end %>
<% end %>
</table>
